parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$name of method Magento\\\\Framework\\\\HTTP\\\\Client\\\\Curl\\:\\:setOption\\(\\) expects string, int given\\.$#"
			count: 3
			path: Analytics/Model/EventNotifier.php

		-
			message: "#^Call to method create\\(\\) on an unknown class Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory\\.$#"
			count: 1
			path: ProductFeatures/Model/ProductDataLoader.php

		-
			message: "#^Parameter \\$collectionFactory of method BradSearch\\\\ProductFeatures\\\\Model\\\\ProductDataLoader\\:\\:__construct\\(\\) has invalid type Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory\\.$#"
			count: 2
			path: ProductFeatures/Model/ProductDataLoader.php

		-
			message: "#^Property BradSearch\\\\ProductFeatures\\\\Model\\\\ProductDataLoader\\:\\:\\$collectionFactory has unknown class Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory as its type\\.$#"
			count: 2
			path: ProductFeatures/Model/ProductDataLoader.php

		-
			message: "#^Property BradSearch\\\\ProductFeatures\\\\Model\\\\ProductDataLoader\\:\\:\\$storeManager is never read, only written\\.$#"
			count: 1
			path: ProductFeatures/Model/ProductDataLoader.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/FeatureDefinitions.php

		-
			message: "#^Array has 2 duplicate keys with value '\\\\'' \\(\"'\", \"'\"\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Call to an undefined method Magento\\\\Eav\\\\Model\\\\Entity\\\\Attribute\\\\AbstractAttribute\\:\\:getStoreLabel\\(\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Call to method create\\(\\) on an unknown class Magento\\\\Eav\\\\Model\\\\ResourceModel\\\\Entity\\\\Attribute\\\\Group\\\\CollectionFactory\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Parameter \\#1 \\$amount of method Magento\\\\Framework\\\\Pricing\\\\PriceCurrencyInterface\\:\\:convertAndFormat\\(\\) expects float, string given\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Parameter \\#1 \\$attribute of method BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\Features\\:\\:getFormattedValue\\(\\) expects Magento\\\\Eav\\\\Model\\\\Attribute, Magento\\\\Eav\\\\Model\\\\Entity\\\\Attribute\\\\AbstractAttribute given\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Parameter \\#1 \\$product of method BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\Features\\:\\:getAllAttributes\\(\\) expects Magento\\\\Catalog\\\\Model\\\\Product, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Parameter \\#1 \\$product of method BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\Features\\:\\:getAttributesByGroup\\(\\) expects Magento\\\\Catalog\\\\Model\\\\Product, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Parameter \\$groupCollection of method BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\Features\\:\\:__construct\\(\\) has invalid type Magento\\\\Eav\\\\Model\\\\ResourceModel\\\\Entity\\\\Attribute\\\\Group\\\\CollectionFactory\\.$#"
			count: 2
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Property BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\Features\\:\\:\\$groupCollection has unknown class Magento\\\\Eav\\\\Model\\\\ResourceModel\\\\Entity\\\\Attribute\\\\Group\\\\CollectionFactory as its type\\.$#"
			count: 2
			path: ProductFeatures/Model/Resolver/Features.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/FullUrl.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getBaseUrl\\(\\)\\.$#"
			count: 2
			path: ProductFeatures/Model/Resolver/FullUrl.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getBaseUrl\\(\\)\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/ImageOptimized.php

		-
			message: "#^Call to method create\\(\\) on an unknown class Magento\\\\Catalog\\\\Model\\\\View\\\\Asset\\\\PlaceholderFactory\\.$#"
			count: 1
			path: ProductFeatures/Model/Resolver/ImageOptimized.php

		-
			message: "#^Parameter \\$placeholderFactory of method BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\ImageOptimized\\:\\:__construct\\(\\) has invalid type Magento\\\\Catalog\\\\Model\\\\View\\\\Asset\\\\PlaceholderFactory\\.$#"
			count: 2
			path: ProductFeatures/Model/Resolver/ImageOptimized.php

		-
			message: "#^Property BradSearch\\\\ProductFeatures\\\\Model\\\\Resolver\\\\ImageOptimized\\:\\:\\$placeholderFactory has unknown class Magento\\\\Catalog\\\\Model\\\\View\\\\Asset\\\\PlaceholderFactory as its type\\.$#"
			count: 2
			path: ProductFeatures/Model/Resolver/ImageOptimized.php

		-
			message: "#^Cannot access offset 'product_id' on bool\\.$#"
			count: 1
			path: ProductFeatures/Model/UrlRewriteDataLoader.php

		-
			message: "#^Cannot access offset 'store_id' on bool\\.$#"
			count: 1
			path: ProductFeatures/Model/UrlRewriteDataLoader.php

		-
			message: "#^Call to method create\\(\\) on an unknown class BradSearch\\\\SearchGraphQl\\\\Model\\\\SyncStateFactory\\.$#"
			count: 1
			path: SearchGraphQl/Cron/SyncChangedProducts.php

		-
			message: "#^Parameter \\$syncStateFactory of method BradSearch\\\\SearchGraphQl\\\\Cron\\\\SyncChangedProducts\\:\\:__construct\\(\\) has invalid type BradSearch\\\\SearchGraphQl\\\\Model\\\\SyncStateFactory\\.$#"
			count: 2
			path: SearchGraphQl/Cron/SyncChangedProducts.php

		-
			message: "#^Property BradSearch\\\\SearchGraphQl\\\\Cron\\\\SyncChangedProducts\\:\\:\\$syncStateFactory has unknown class BradSearch\\\\SearchGraphQl\\\\Model\\\\SyncStateFactory as its type\\.$#"
			count: 2
			path: SearchGraphQl/Cron/SyncChangedProducts.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getHeader\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Api/Auth/ApiKeyValidator.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:getServer\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Api/Auth/ApiKeyValidator.php

		-
			message: "#^Parameter \\#1 \\$name of method Magento\\\\Framework\\\\HTTP\\\\Client\\\\Curl\\:\\:setOption\\(\\) expects string, int given\\.$#"
			count: 2
			path: SearchGraphQl/Model/Api/Client.php

		-
			message: "#^Call to an undefined method Magento\\\\Store\\\\Api\\\\Data\\\\StoreInterface\\:\\:getCurrentCurrencyCode\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Price/VanillaMagentoPriceCalculator.php

		-
			message: "#^Parameter \\#1 \\$product of method Magento\\\\CatalogGraphQl\\\\Model\\\\Resolver\\\\Product\\\\Price\\\\ProviderInterface\\:\\:getMaximalFinalPrice\\(\\) expects Magento\\\\Framework\\\\Pricing\\\\SaleableInterface, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: SearchGraphQl/Model/Price/VanillaMagentoPriceCalculator.php

		-
			message: "#^Parameter \\#1 \\$product of method Magento\\\\CatalogGraphQl\\\\Model\\\\Resolver\\\\Product\\\\Price\\\\ProviderInterface\\:\\:getMaximalRegularPrice\\(\\) expects Magento\\\\Framework\\\\Pricing\\\\SaleableInterface, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: SearchGraphQl/Model/Price/VanillaMagentoPriceCalculator.php

		-
			message: "#^Parameter \\#1 \\$product of method Magento\\\\CatalogGraphQl\\\\Model\\\\Resolver\\\\Product\\\\Price\\\\ProviderInterface\\:\\:getMinimalFinalPrice\\(\\) expects Magento\\\\Framework\\\\Pricing\\\\SaleableInterface, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: SearchGraphQl/Model/Price/VanillaMagentoPriceCalculator.php

		-
			message: "#^Parameter \\#1 \\$product of method Magento\\\\CatalogGraphQl\\\\Model\\\\Resolver\\\\Product\\\\Price\\\\ProviderInterface\\:\\:getMinimalRegularPrice\\(\\) expects Magento\\\\Framework\\\\Pricing\\\\SaleableInterface, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: SearchGraphQl/Model/Price/VanillaMagentoPriceCalculator.php

		-
			message: "#^Call to method create\\(\\) on an unknown class Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/BradProducts.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<1, 300\\> and 0 is always true\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/BradProducts.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/BradProducts.php

		-
			message: "#^Parameter \\$collectionFactory of method BradSearch\\\\SearchGraphQl\\\\Model\\\\Resolver\\\\BradProducts\\:\\:__construct\\(\\) has invalid type Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory\\.$#"
			count: 2
			path: SearchGraphQl/Model/Resolver/BradProducts.php

		-
			message: "#^Property BradSearch\\\\SearchGraphQl\\\\Model\\\\Resolver\\\\BradProducts\\:\\:\\$collectionFactory has unknown class Magento\\\\Catalog\\\\Model\\\\ResourceModel\\\\Product\\\\CollectionFactory as its type\\.$#"
			count: 2
			path: SearchGraphQl/Model/Resolver/BradProducts.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/SortPopularityResolver.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/SortPopularitySalesResolver.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface\\:\\:getExtensionAttributes\\(\\)\\.$#"
			count: 1
			path: SearchGraphQl/Model/Resolver/UpdateConfig.php

		-
			message: "#^Parameter \\#1 \\$name of method Magento\\\\Framework\\\\HTTP\\\\Client\\\\Curl\\:\\:setOption\\(\\) expects string, int given\\.$#"
			count: 3
			path: SearchGraphQl/Model/Sync/WebhookNotifier.php
