<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © BradSearch. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="bradsearch_analytics_order_created"
                  instance="BradSearch\Analytics\Observer\OrderCreatedEvent" />
    </event>
</config>
