<?xml version="1.0"?>
<!--
/**
 * Copyright © BradSearch. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bradsearch_autocomplete" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Autocomplete Settings</label>
            <tab>bradsearch</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable BradSearch Autocomplete</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, replaces native search autocomplete</comment>
                </field>
                <field id="public_key" translate="label comment" type="text" sortOrder="25"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                    <comment>BradSearch public API key for this store view</comment>
                </field>
                <field id="config" translate="label comment" type="textarea" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configuration JSON</label>
                    <comment><![CDATA[JSON config for web component. Example: {"token": "xxx", "api": "/search", "threshold": "3", "limit": "6"}]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
